/*ROBOT LEAGUE: CSS RESPONSIVE ORIENTATION LANDSCAPE*/
body {
	height: 100vh;
	color: #88D317;
	overflow: auto;
	margin: 0px;
	font-family: 'Audiowide', cursive;
}

.spanTextWhite {
	color: white;
	text-decoration: none;
	font-family: 'Audiowide', cursive;
	display: flex;
	justify-content: center;
}

span {
	margin-right: 1%;
}

h1 {
	margin: 0px;
}

.spanLeter {
	font-size: 20px;
}

.background {
	background-image: linear-gradient(to top, #1A0315, #6E3667, #4b2046, #070507);
	opacity: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}

.flexboxMain {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
}

.flexboxChild {
	height: 100%;
	width: 100%;
}

.sizePictures {
	background-size: contain;
	width: 950px;
	height: 370px;
}

/*//////////////////HEADER TITLE, LOGIN AND TITLE FOR EACH PAG////////////*/
.flexboxHeader {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.spanTitle {
	color: #6E3667;
}

.noLogin {

	display: flex;
	justify-content: center;
	text-align: center;
	margin: 32%;
	margin-top: 30%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: linear-gradient(to top, #1A0315, #6E3667, #4b2046, #070507);
}

.loginLogo {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: space-between;
}


.title {
	width: 100%;
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1A0315;
	background-color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.title1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 19px;
	text-decoration: underline;
	text-decoration-color: white;

}


.buttonLogin {
	outline: 0;
	border-radius: 50px;
	display: inline-block;
	border: solid 1px #6E3667;
	color: white;
	background-image: linear-gradient(to top, #1A0315, #6E3667, #4b2046, #070507);
	text-align: center;
	cursor: pointer;
	font-size: 18px;
}

.subTitle {
	display: flex;
	justify-content: center;
	text-decoration: underline;
	text-decoration-color: #6E3667;
	font-family: 'Audiowide', cursive;
	font-size: x-large;
	margin: auto;
	margin-bottom: 2%;
}

.loginDiv {
	color: white;
	display: flex;
	justify-content: center;
	text-decoration: underline;
	text-decoration-color: #6E3667;
	font-family: 'Audiowide', cursive;
	margin: auto;
	margin-top: 25%;
	margin-bottom: 2%;
	width: 200px;
	height: 200px;
	border: solid 2px #6E3667;
	border-radius: 50%;
	background-image: linear-gradient(to top, #1A0315, #6E3667, #4b2046, #2a0404);
}

.indexImg {
	width: 100%;
}

/*//////////////////////MENU///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/


.hamburger {
	background-color: #ffffff4a;
	width: 60px;
	height: 45px;
	border-radius: 25%;
	position: fixed;
}

#menuToggle {
	background-color: #111;
	margin-left: 5px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
	display: block;
	position: fixed;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 55px;
	height: 45px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
	
}

#menuToggle span {
	display: block;
	width: 37px;
	height: 5px;
	margin-bottom: 5px;
	position: relative;
	bottom: -2px;
	background: #88D317;
	border-radius: 15px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #88D317;
}


#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 300px;
	margin: -40px 0 0 -65px;
	padding: 70px;
	padding-top: 70px;
	background: #ffffff;
	list-style-type: none;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	overflow: scroll;
}

#menu li {
	padding: 3px 0;
	font-size: 22px;
	font-family: 'Orbitron', sans-serif;
}

#menu a {
	display: block;
}

#menuToggle input:checked~ul {
	transform: translateX(20px);
}

.buttonTeam {
	border: 1px solid white;
	outline: 0;
	border-radius: 50px;
	display: inline-block;
	padding: 20px;
	color: #88D317;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 50%;
	font-size: 18px;
}

/*//////////////////////MENU///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.card {
	display: flex;
	min-width: 100%;
	min-height: 200px;
	overflow-x: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;

}

.card::-webkit-scrollbar {
	display: none;
}

.card--content img {
	width: 100%;
	height: 100%;
}

#menuToggle input:checked~ul {
	transform: translateX(20px);
}

/*//////////////////////EACHTEAM///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.cardTeamImg {
	background-size: cover;
	width: 100%;
	height: 250px;
	text-align: center;
	font-family: arial;
	border-radius: 10%;
	margin-bottom: 2px;
}

.childInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	border-radius: 10px;
	text-align: center;
}

.centerInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.cardInfoRobot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	background-color: #ffffff26;
}

/*//////////////////////CARD EVENT HOMEPAGE///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.card {
	box-shadow: 0 12px 12px 0 #4d1146;
	max-width: 100%;
	text-align: center;
	font-family: arial;
	margin: 5px;
	border-radius: 10%;
	margin-bottom: 10px;
}

.buttonTicket {
	border: 1px solid white;
	margin-top: 10px;
	outline: 0;
	border-radius: 50px;
	display: inline-block;
	padding: 15px;
	color: #88D317;
	background-image: linear-gradient(to top, #111, #181818, #2c2a2a, #111);
	text-align: center;
	cursor: pointer;
	width: 40%;
	font-size: 18px;
}

a {
	text-decoration: underline;
	text-decoration-color: #6E3667;
	font-size: 22px;
	color: black;
}

/*//////////////////////TABLE///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.table {
	color: white;
	width: 100%;
}

.tableTd {
	padding: 4%;
	text-align: center;
}

.tableTh {
	background-color: black;
	align-content: center;
	font-family: 'Audiowide', cursive;
}

.trColor {
	background-color: #000000b8;
	align-content: center;
	font-family: 'Audiowide', cursive;
}

/*//////////////////////BUTTON HOME///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.buttonHome {
	background-image: linear-gradient(to top, #1A0315, #40203c, #4b2046, #070507);
	color: white;
	padding: 25px;
	border: solid 1px #070507;
	border-radius: 25%;
	font-family: 'Audiowide', cursive;
	margin-bottom: 1px;
}

.flexButtonHome {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 5%;
}

/*//////////////////////RESULTS///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.flexboxMainResult {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 50px;
}

.flexButtonHomeResult {
	display: flex;
	margin-top: 5px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cityImg {
	margin-right: 3%;
	border-radius: 50%;
	border-bottom-color: #6E3667;
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
	border: solid 2px #6E3667;
}

.resultCity {

	border-bottom: none;

	display: flex;
	margin-left: 5px;
	margin-right: 5px;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	background-color: #ffffff33;
	padding-top: 10px;
	padding-bottom: 5px;

}

.buttonResult {
	background-image: linear-gradient(to top, #1A0315, #40203c, #4b2046, #070507);
	color: white;
	padding: 25px;
	border: solid 1px #070507;
	border-radius: 25%;
	font-family: 'Audiowide', cursive;
	margin-bottom: 1px;
}

.resultTable {
	font-family: 'Audiowide', cursive;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff26;

	margin-right: 5px;
	margin-left: 5px;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%
}

.resultTableChild {
	margin-top: 0px;
	margin-bottom: 2px;
}

/*//////////////////////PREVIOUS RESULT///////////////*/
/*0000000000000000000000000000000000000000000000000000*/
.cityImgPrevious {
	margin-right: 3%;
	border-radius: 50%;
	border-style: solid;
	border-bottom-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	width: 150px;
}

/*//////////////////////TICKET///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.mainTicket {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
	text-align: center;
}

.tableTicket {
	padding-right: 150px;
}

.flexboxTicket {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 2%;
}

td {
	margin: 5%;
}

/*//////////////////////EMAIL///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.email {
	color: coral;
}

/*//////////////////////INFO///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.flexboxInfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5%;
	background-color: #ffffff26;
	border-radius: 2%;
	padding: 5%;
	padding-left: 8%;
}

/*//////////////////////CHAT///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.userImg {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.chatFlexbox {
	font-family: 'Audiowide', cursive;
	display: flex;
	flex-direction: column;
	background-color: #4806029e;
	margin-top: 10px;
	border-radius: 25px;
}

.box {
	align-content: center;
	overflow: scroll;
	border-radius: 10px;
	border-style: solid;
	background-color: #000000bd;
	width: 98%;
	height: 400px;
}

.chat {
	margin: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
}

.inputs {
	display: flex;
	padding: 10%;
}

.input {
	width: 100%;
	padding: 15px;
	border-radius: 25px;
	margin-right: 5%;
}

.buttonChat {
	background-color: #6E3667;
	color: white;
	border: solid 1px;
	padding: 10px;
	border-radius: 25%;
	font-family: 'Audiowide', cursive;
	margin-bottom: 4px;
}

/*0000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000*/
/*//////////////////////MEDIA QUERY///////////////*/
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
/*0000000000000000000000000000000000000000000000000000000*/
@media (orientation: landscape) {
	.flexboxMainResult {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 2%;
	}

	.resultPlace {
		margin: 3px;
	}

	.flexboxMainTeam {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 40px;
	}

	.flexboxTicket {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 40px;
	}

	.cardTeamImg {
		background-image: url(teams/Bronco-Bot-S2018-1140x763.jpg);
		background-size: cover;
		width: 50%;
		height: 225px;
		text-align: center;
		font-family: arial;
		border-radius: 10%;
		margin-bottom: 2px;
	}

	.childInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.cardInfoRobot {
		width: 100%;
		height: 100%;
		border-radius: 10%;
		display: flex;
		min-width: 100%;
		min-height: 200px;
		overflow-x: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: position relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #ffffff26;
		background-clip: border-box;

	}

	.flexboxTicket {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 2%;
	}

	.mainTicket {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.tableTicket {
		padding-right: 150px;
	}

	.buttonResult {
		background-color: red;
		color: white;
		border-radius: 25%;
		font-family: 'Audiowide', cursive;
		margin-bottom: 1px;
	}

	.flexButtonHomeResult {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.cardInfoRobot {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 10%;
		background-color: #ffffff26;
	}

	.centerInfo {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	p {
		margin: 10px;
	}

	#menuToggle input:checked~span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #111;
	}
}